body {
	margin:0px;
	}
.th_red12b {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #950C0C;
	text-decoration: none;
}
.th_red12bbb {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #950C0C;
	text-decoration: none;
}
.th_red12bbb_line {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #950C0C;
	text-decoration: underline;
}
.th_11menu {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #684400;
	text-decoration: none;
}
a:hover.th_11menu  {
	color: #FFFFFF;
	text-decoration: underline;
}
.th12bgray {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #434343;
	text-decoration: none;
}
.th12black {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: none;
	color: #000000;
	text-decoration: none;
}
.th14bgray {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #434343;
	text-decoration: none;
}
.th11bred {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #C40000;
	text-decoration: none;
}
.th11bred_line {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #C40000;
	text-decoration: underline;
}
a:hover.th11bred {
	color: #CC3300;
	text-decoration: underline;
}
.th11graydata {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #5A5A5A;
	text-decoration: none;
}
a:hover.th11graydata {
	color: #8D8D8D;
	text-decoration: underline;
}
.th11gray_girl {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #A1A1A1;
	text-decoration: none;
}
.th12gray_foot {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #373737;
	text-decoration: none;
}
.th11_nback {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a:hover.th11_nback {
	color: #CC0000;
	text-decoration: underline;
}
.th_gray11b {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #434343;
	text-decoration: none;
}
.th_black11b {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.th_green11b {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
.th12white {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.th12bwhite {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.th12bblue {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}
.th12bred {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #CC3300;
	text-decoration: none;
}
.th12ora {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.th14white {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.th16white {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.th11b_Orange {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFA800;
	text-decoration: none;
}
.th14b_Orange {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #FFA800;
	text-decoration: none;
}
.th14b_Green {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}

.th12b_Orange {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFA800;
	text-decoration: none;
}
.th11b_ooo {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFA800;
	text-decoration: none;
}
.th11r_n {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #C40000;
	text-decoration: none;
}
.th11wite_s {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover.th11wite_s {
	color: #FFA800;
	text-decoration: underline;
}
.th10_cop {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #B97B04;
	text-decoration: none;
}
.th11_send {

	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #F3A005;
	text-decoration: underline;
}
.th_head_back {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.th_head_back16 {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.th_head_back14 {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.th_head_back12 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.th12bgray_line {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
a:hover.th12bgray_line {
	color: #B0B0B0;
	text-decoration: underline;
}
.th14bgray_line {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.th11black {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: none;
	color: #000000;
	text-decoration: none;
}
.th11bblue {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
.th11bblack {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.th11bblack_line {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.th12black {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: none;
	color: #000000;
	text-decoration: none;
}
.th14bgreen_line {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	text-decoration: underline;
}
.th_red14b {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #950C0C;
	text-decoration: none;
}

.th11back_love {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #212121;
	text-decoration: none;
}
a:hover.th11back_love {
	color: #FFA800;
	text-decoration: underline;
}
.th12blue_love {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #0000FF;
	text-decoration: underline;
}
.th12white_love {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.th12red_love {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #950C0C;
	text-decoration: underline;
}
.noline {
	color: #OOOOOO;
	text-decoration: underline;}
}
